<!DOCTYPE html>
<html lang="en">

<head>
    {% if flag > 0 %}
    <title>Searched Ports</title>

    {% else %}
    <title>Macports-All Ports</title>
    {% endif %}
    {% load static %}
    
    <!-- <link rel="stylesheet" href="https://vishnu.neocities.org/portmain.css" > -->
    <link rel="stylesheet" type="text/css" href="{% static 'port/css/portmain.css' %}">
    <meta charset="utf-8" />
</head>

<body>
    {% block content %}
    <div class="table-title">
        <h3>Ports</h3>

        <!-- Search Form added -->
        <form method="POST" action="/port/search/">
            {% csrf_token %}
            <input type="text" name="textfield">

            <button type="submit">Find</button>
        </form>
        {% if flag > 0 %} Results for your search {% endif %}

    </div>
    <table class="table-fill">
        <thead>
            <tr>
                <th class="text-left">Port ID</th>
                <th class="text-left">Port Name </th>
            </tr>
        </thead>
        <tbody class="table-hover">
            {% for port in object_list %}
            <tr>
                <td class="text-left">{{ port.portid }}</td>
                <td class="text-left"><a href="/port/{{ port.portname }}"> {{ port.portname }}</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endblock %}
</body>

</html>